/**
 * Setting page
 */
#form h3                                { margin: 30px 0 10px; }
#form h3:first-child                    { margin-top: 10px; }

table.form                              { background: #fafafa; }
table.form > tbody > tr > td            { border-bottom: none; }
table.form input                        { width: 25%; }

.text-right                             { text-align: right; }

.omise-admin-menu-section               { margin-top: 50px; }
.omise-admin-menu-btn-install           { background: #8DA038; color: #fff; border: 0; cursor: pointer; border-radius: 2px; padding: 8px 20px; font-size: 14px; }
.omise-admin-menu-btn-install:hover     { background: #809133; }

.omise-admin-menu-section .description  { margin-top: 10px; text-shadow: 1px 1px #fff; color: #666; background: #f5f5f5; padding: 10px; }

/**
 * Dashboard page
 */
.omise-info-box                         { background: #f5f5f5; padding: 10px; color: #666; text-shadow: 1px 1px #fff; }
.omise-info-box dl dt,
.omise-info-box dl dd                   { display: inline; }
.omise-info-box dl dt                   { display: inline; font-weight: 700; margin-left: 40px; }
.omise-info-box dl dt:first-child       { margin-left: 0; }
.omise-info-box dl dd                   { margin-left: 10px; }

.omise-account-info                     { font-size: 1.1em; border-bottom: 1px solid #5A5959; border-radius: 2px 2px 0 0; }

.omise-balance                          { background: #2d2d2d; color: #D8D8D8; padding: 20px 0; border-top: 1px solid #E5E5E5; border-bottom: 2px solid #1d1d1d; }
.omise-balance .left,
.omise-balance .right                   { float: left; width: 50%; text-align: center; }
.omise-balance .omise-number            { font-size: 2.5em; color: #fff; }

.omise-clearfix:before,
.omise-clearfix:after                   { display: table; content: " "; }
.omise-clearfix:after                   { clear: both; }

button.button                           { cursor: pointer; border: 0; text-decoration: none; color: #FFF; display: inline-block; padding: 5px 15px 5px 15px; background: #003A88; -webkit-border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -khtml-border-radius: 10px 10px 10px 10px; border-radius: 10px 10px 10px 10px; }

.testmode-label                         { color: #d1002a; }
.livemode-label                         { color: #7CA91F; }